{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}
    
{% block content %}
    <div class="jumbotron" >
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1000" height="608" id="gmap_canvas" src="https://maps.google.com/maps?q=dhanmodi%20Road%209/A,&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://soap2day-to.com">soap2day</a><br><style>.mapouter{position:relative;text-align:right;height:608px;width:1000px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:608px;width:1000px;}</style></div></div>
    </div>
    <div>
        <iframe width="1000" height="600" src="https://www.youtube.com/embed/Fcf5BKtWCRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   
{% endblock content %}

